<div class="modal-content" ng-controller="acessoFuncionalidadeController" ng-init="carregarFormulario()">
    <div>Acesso a Funcionalidades</div>

    <div class="control-group">

        <div class="form-control">
            <input type="checkbox" ng-model="funcionalide." />
        </div>
    </div>
</div>