<div class="modal-content" ng-controller="acessoFuncionalidadeController" ng-init="carregarFormulario()">
    <div>Acesso a Funcionalidades</div>

    {{error}}
    <div class="control-group">

        <div class="input-group input-group-lg">
            <input type="radio" ng-model="funcionalidade.PapelId" value="1" ng-checked="carregarPerfis()" checked> Perfil
            <input type="radio" ng-model="funcionalidade.PapelId" value="2" ng-checked="carregarAreas()"> Área
            <input type="radio" ng-model="funcionalidade.PapelId" value="3" ng-checked="carregarUsuarios()"> Usuário

            <span class="input-group-addon"><i class="fa fa-lock"></i></span>

            <select class="form-control"
                    ng-model="funcionalidade.AtorId"
                    ng-options="perfil.Id as perfil.Nome for perfil in perfis"
                    ng-change="selecionarPerfil()"
                    ng-show="funcionalidade.Papel == '1'">
                <option value="">Selecione o perfil</option>
            </select>

            <select class="form-control"
                    ng-model="funcionalidade.AtorId"
                    ng-options="area.Id as area.Nome for area in areas"
                    ng-change="selecionarArea()"
                    ng-show="funcionalidade.Papel == '2'">
                <option value="">Selecione Área</option>
            </select>

            <select class="form-control"
                    ng-model="funcionalidade.AtorId"
                    ng-options="usuario.Id as usuario.Nome for usuario in usuarios"
                    ng-change="selecionarUsuario()"
                    ng-show="funcionalidade.Papel == '3'">
                <option value="">Selecione o Usuario</option>
            </select>
        </div>

        <div ng-repeat="acesso in acessos">
            <div class="form-control">
                <input type="checkbox" ng-model="funcionalidade.PodeCaixaEntrada" ng-checked="acesso.Funcionalidade.CaixaEntrada.Value == funcionalidade.CaixaEntrada.Value" />
                <Label>{{funcionalidade.CaixaEntrada.DisplayName}}</Label>
            </div>
            <div class="form-control">
                <input type="checkbox" ng-model="funcionalidade.PodeImportacao" ng-checked="acesso.Funcionalidade.Importacao.Value == funcionalidade.Importacao.Value" />
                <Label>{{funcionalidade.Importacao.DisplayName}}</Label>
            </div>
            <div class="form-control">
                <input type="checkbox" ng-model="funcionalidade.PodeImportacaoVariosArquivos" ng-checked="acesso.Funcionalidade.ImportacaoVariosArquivos.Value == funcionalidade.ImportacaoVariosArquivos.Value" />
                <Label>{{funcionalidade.ImportacaoVariosArquivos.DisplayName}}</Label>
            </div>
        </div>
    </div>
    <div>
        <button class="btn btn-primary" ng-click="salvar(funcionalidade)">Salvar</button>
    </div>
</div>