/src/*.suo
/src/Web/obj
/src/Web/bin
/src/Salus.UnitTests/obj
/src/Salus.UnitTests/bin
/src/Salus.Model/obj
/src/Salus.Model/bin
/src/Salus.Infra/obj
/src/Salus.Infra/bin
/src/Salus.Data/obj
/src/Salus.Data/bin
/lib
/src/packages
/src/artifacts
/src/Web/App_Data
/src/Salus.IntegrationTests/obj
/src/Salus.IntegrationTests/bin
/src/Web/Uploads
/src/TestResults
/src/Web/Logs
