<div ng-controller="homeController" ng-init="carregarFormulario(null)">

    <div>
        <div>Minha Caixa</div>
        <table ng-show="fluxos.length > 0" class="table">
            <thead>
                <tr>
                    <th>Documento</th>
                    <th>De</th>
                    <th>Assunto</th>
                    <th>Mensagem</th>
                    <th>Desde</th>
                </tr>
            </thead>
            <tr ng-repeat="fluxo in fluxos" ng-click="abrirDocumento(fluxo)">
                <td>{{fluxo.Documento.Id}}</td>
                <td>{{fluxo.De.Nome}}</td>
                <td>{{fluxo.Documento.Assunto}}</td>
                <td>{{fluxo.Mensagem}}</td>
                <td>{{fluxo.CriadoEm}}</td>
            </tr>
        </table>
    </div>
    <div>
        <div>Últimas Atividades</div>
        <table ng-show="atividades.length > 0" class="table">
            <thead>
                <tr>
                    <th>Por</th>
                    <th>Ação</th>
                    <th>Registro</th>
                    <th>Em</th>
                </tr>
            </thead>
            <tr ng-repeat="atividade in atividades">
                <td>{{atividade.UsuarioNome}}</td>
                <td>{{atividade.Acao}}</td>
                <td>{{atividade.DocumentoId}}</td>
                <td>{{atividade.Hora}}</td>
            </tr>
        </table>
    </div>

</div>
