<div class="modal-content" ng-controller="chaveConfigController" ng-init="carregarChaveParaEdicao()">
    <h3>{{tipoDocumentoNome}} > Editar chave - {{chave.Nome}}</h3>

    <form name="chaveEditForm">
        <input type="hidden" ng-model="chave.Id" />
        
        <div class="control-group">
            <label>Tipo de Dado</label>
            <select class="form-control"
                    ng-model="chave.TipoDado"
                    ng-options="tipoDado.id as tipoDado.nome for tipoDado in tiposDeDado"
                    ng-change="configurarCampos(chave)">
                <option value="">Selecione o Tipo de Dado</option>
            </select>
        </div>

        <div class="control-group" ng-show="chave.EhLista == true">
            <label>Itens da Lista</label>
            <textarea class="form-control" ng-model="chave.ItensListaComoTexto"></textarea>
        </div>

        <div class="control-group">
            <label>Nome</label>
            <input type="text" class="form-control" ng-model="chave.Nome" />
        </div>

        <div class="control-group">
            <label>Está Ativo?</label>
            <input type="checkbox" class="form-control" ng-model="chave.Ativo" />
        </div>

        <div class="control-group">
            <label>É de preenchimento obrigatorio?</label>
            <input type="checkbox" class="form-control" ng-model="chave.Obrigatorio" />
        </div>
        <div class="control-group">
            <label>Expressão regular para validação</label>
            <input type="checkbox" class="form-control" ng-model="chave.mascarar" />
        </div>

        <div class="control-group" ng-show="chave.mascarar==true">
            <label>Informe a expressão (regex) para validação</label>

            <input type="text" class="form-control" ng-model="chave.Mascara" />
        </div>

        <div>
            <button class="btn btn-primary" ng-click="salvar(chave)">Salvar</button>
            <button class="btn btn-primary" ng-click="inicio()">Tipos de documentos</button>
        </div>
    </form>
</div>
