<div class="modal-content" ng-controller="chaveConfigController" ng-init="carregarFormularioDeChaves()">
    <salus-title>
        Configurações > Tipo de Documento > Chaves - {{tipoDocumentoNome}}
    </salus-title>

    <div class="control-group">
        <button class="btn btn-primary" name="novoTipo" ng-click="adicionarChave(tipodocumentoId, tipoDocumentoNome)">Nova chave</button>
    </div>

    <div class="control-group" style="overflow:auto">
        <table ng-show="chaves.length > 0" class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Obrigatorio</th>
                    <th>Tipo de Dado</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            
            <tr ng-class="{'item-inativo': chave.Ativo == false}" ng-repeat="chave in chaves">
                <td>{{chave.Nome}}</td>
                <td><img ng-if="chave.Obrigatorio == true" src ="Content/Images/ic_action_accept.png" /></td>
                <td>{{retornarTipoDado(chave.TipoDado)}}</td>
                <td><a ng-click="editarChave(chave)">Editar</a></td>
                <td><a ng-click="excluir(chave)">Desativar</a></td>
            </tr>
        </table>
    </div>
</div>