<div class="modal-content" ng-controller="chaveConfigController" ng-init="carregarFormularioDeChaves()">
    <h3>Chaves do Tipo de Documento - {{tipoDocumentoNome}}</h3>

    <div class="control-group">
        <button class="btn btn-primary" name="novoTipo" ng-click="adicionar()">Nova chave</button>
    </div>

    <div class="control-group" style="overflow:auto">
        <table ng-show="chaves.length > 0" class="table">
            <thead>
                <tr>
                    <th>Ativo</th>
                    <th>Nome</th>
                    <th>Obrigatorio</th>
                    <th>Tipo de Dado</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tr ng-class="{'item-inativo': chave.Ativo == false}" ng-repeat="chave in chaves">
                <td><input type="checkbox" ng-model="chave.Ativo" /></td>
                <td>{{chave.Nome}}</td>
                <td>{{chave.Obrigatorio}}</td>
                <td>{{chave.TipoDado}}</td>
                <td><a ng-click="editarChave(chave.Id, tipodocumentoId)">Editar</a></td>
                <td><a ng-click="excluir(chave.Id)">Desativar</a></td>
            </tr>
        </table>
    </div>
</div>