<div class="modal-content" ng-controller="usuarioConfigController" ng-init="carregarFormulario()">
    <salus-title>Configurações > Usuários</salus-title>
    
    <div class="control-group">
        <button class="btn btn-primary" name="novoTipo" ng-click="adicionar()">Novo Usuário</button>
    </div>

    <div class="control-group" style="height:560px;overflow:auto">
        <table ng-show="usuarios.length > 0" class="table table-striped">
            <thead>
                <tr>
                    <th>Login</th>
                    <th>Nome</th>
                    <th>Área</th>
                    <th>Perfil</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tr ng-class="{'item-inativo': usuario.Ativo == false}" ng-repeat="usuario in usuarios">
                <td>{{usuario.Login}}</td>
                <td>{{usuario.Nome}}</td>
                <td>{{usuario.Area.Nome}}</td>
                <td>{{usuario.Perfil.Nome}}</td>
                <td><a ng-click="editarUsuario(usuario.Id)">Editar</a></td>
                <td>
                    <a ng-if="usuario.Ativo" ng-click="excluir(usuario)">Desativar</a>
                    <a ng-if="usuario.Ativo==false" ng-click="ativar(usuario)">Ativar</a>
                </td>
            </tr>
        </table>
    </div>
</div>