@using Salus.Model.UI
@model AreaViewModel

<div class="modal-content" ng-controller="areaConfigController" ng-init="carregarParaEdicao(@this.Model.Id)">
    <h2>{{area.Nome}}</h2>
    
    <form name="tipoDocumentoEditForm">
        <input type="hidden" ng-model="area.Id" />

        <div class="control-group">
            <label>Areas</label>
            <select class="form-control"
                    ng-model="area.Parent.Id"
                    ng-options="area.Id as area.Nome for area in area.todas">
                <option value="">Selecione uma área</option>
            </select>
        </div>

        <div class="control-group">
            <label>Nome</label>
            <input type="text" class="form-control" ng-model="area.Nome" />

            <label>Abreviação</label>
            <input type="text" class="form-control" ng-model="area.Abreviacao" />

            <label>Está Ativo?</label>
            <input type="checkbox" class="form-control" ng-model="area.Ativo" />

            <label>Esta área pode visualizar apenas os próprios documentos</label>
            <input type="checkbox" class="form-control" ng-model="area.Segura" />
        </div>

        <div>
            <button class="btn btn-primary" ng-click="salvar(area)">Salvar</button>
            <button class="btn btn-primary" ng-click="inicio()">Cancelar</button>
        </div>
    </form>
</div>
