@using Salus.Model.UI
@model AreaViewModel

<div class="modal-content" ng-controller="tipoDocumentoConfigController" ng-init="carregarParaEdicao(@this.Model.Id)">
    <h2>{{tipoDocumento.nome}}</h2>
    
    <form name="tipoDocumentoEditForm">
        <input type="hidden" ng-model="tipoDocumento.id" />

        <div class="control-group" ng-show="tipoDocumento.ehPasta == false">
            <label>Grupo de documento</label>
            <select class="form-control"
                    ng-model="tipoDocumento.parent.id"
                    ng-options="pasta.id as pasta.nome for pasta in tipoDocumento.pastas">
                <option value="">Selecione um agrupador</option>
            </select>
        </div>

        <div class="control-group">
            <label>Nome</label>
            <input type="text" class="form-control" ng-model="tipoDocumento.nome" />

            <label>Está Ativo?</label>
            <input type="checkbox" class="form-control" ng-model="tipoDocumento.ativo" />
        </div>

        <div>
            <button class="btn btn-primary" ng-click="salvar(tipoDocumento)">Salvar</button>
            <button class="btn btn-primary" ng-click="inicio()">Tipos de documentos</button>
        </div>
    </form>
</div>
