<div class="modal-content" ng-controller="areaConfigController" ng-init="carregarFormulario()">
    <div>Areas</div>

    <div class="control-group">
        <button class="btn btn-primary" name="novoTipo" ng-click="adicionar()">Novo Area</button>
    </div>

    <div class="control-group"  style="height:560px; overflow:auto">
        <table ng-show="areas.length > 0" class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Abreviacao</th>
                    <th>Segurança</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tr ng-class="{'item-inativo': area.Ativo == false}" ng-repeat="area in areas">
                <td>{{area.Nome}}</td>
                <td>{{area.Abreviacao}}</td>
                <td>{{area.Segura}}</td>
                <td><a ng-click="editarArea(area.Id)">Editar</a></td>
                <td><a ng-click="excluir(Area.Id)">Desativar</a></td>
            </tr>
        </table>
    </div>
</div>