@using Salus.Model.UI
@model UsuarioViewModel

<div class="modal-content" ng-controller="usuarioConfigController" ng-init="carregarParaEdicao(@this.Model.Id)">
    <h2>{{usuario.Nome}}</h2>

    <form name="usuarioEditForm">
        <input type="hidden" ng-model="usuario.Id" />

        <div class="control-group">
            <label>Login</label>
            <input type="text" class="form-control" ng-model="usuario.Login" required />

            <label>Nome</label>
            <input type="text" class="form-control" ng-model="usuario.Nome" required />

            <label ng-show="usuario.Id === 0">Senha</label>
            <input type="password" class="form-control" ng-model="usuario.Senha" ng-show="usuario.Id === 0" required />

            <label>E-mail</label>
            <input type="email" class="form-control" ng-model="usuario.Email" required />

            <label>Está Ativo?</label>
            <input type="checkbox" class="form-control" ng-model="usuario.Ativo" />

            <label>Expira</label>
            <input type="checkbox" class="form-control" ng-model="usuario.Expira" />

            <div ng-show="usuario.Expira">
                <label>Data Expiração</label>
                <input type="date" class="form-control" ng-model="usuario.Expiraem" />
            </div>
        </div>

        <div class="control-group">
            <label>Area</label>
            <select class="form-control"
                    ng-model="usuario.Area.Id"
                    ng-options="area.Id as area.Nome for area in areas">
                <option value="">Selecione uma área</option>
            </select>
        </div>

        <div class="control-group">
            <label>Perfil</label>
            <select class="form-control"
                    ng-model="usuario.Perfil.Id"
                    ng-options="perfil.Id as perfil.Nome for perfil in perfis">
                <option value="">Selecione um perfil para o usuario</option>
            </select>
        </div>

        <div>
            <button class="btn btn-primary" ng-click="salvar(usuario)">Salvar</button>
            <button class="btn btn-primary" ng-click="inicio()">Cancelar</button>
        </div>
    </form>
</div>
