<div ng-controller="viewController" ng-init="abrir()" snap-toggle>

    <div class="panel-heading">
        <div>Documento {{documentoId}}</div>
    </div>

    <div snap-drawers>
        <div snap-drawer>
            Indexacao
        </div>
        <div snap-drawer="right">
            Workflow
        </div>
        <div snap-drawer="right">
            Baixar Documento
        </div>
    </div>

    <div class="panel-heading">
        <iframe ng-src="{{urlDocumento}}" style="width:100%;height:700px;border:solid;overflow:auto"></iframe>
    </div>
</div>