<div ng-controller="viewController" ng-init="abrir()" snap-toggle>

    <snap-drawers snap-toggle>
        <snap-drawer style="top:50px; height:300px">
            <div class="panel panel-default">
                <div class="panel-heading">Indexacao</div>
                <div class="panel-body" ng-repeat="index in indexacao">
                        <span><b>{{index.Chave.Nome}}:</b> {{index.Valor}}</span>
                </div>
            </div>
        </snap-drawer>

        <snap-drawer style="top:300px; height: 300px">
            <div class="panel panel-default">
                <div class="panel-heading">Versões</div>
                <div class="panel-body"  ng-repeat="versao in versoes">
                    <span><b>{{versao.Versao}}:</b> {{versao.CriadoEm}}</span>
                </div>
            </div>
        </snap-drawer>

        <snap-drawer style="top:450px">
            <div class="panel panel-default">
                <div class="panel-heading">Compartilhamento</div>
                <div class="panel-body" ng-repeat="fluxo in workflow">
                    <span><b>{{fluxo.De}}:</b> {{fluxo.para}}</span>
                </div>
            </div>
        </snap-drawer>
    </snap-drawers>
    <div style="height:600px;width:100%; padding-left:130px">
        <div class="panel panel-warning">
            <div><b>Documento:</b> {{documentoId}}</div>
        </div>
        <div ng-show="error==undefined">
            <iframe ng-src="{{urlDocumento}}" style="width:100%;height:550px;border:solid;" scrolling="yes"></iframe>
        </div>
        <div ng-show="error!=undefined">
            <div style="width:100%;height:100%;border:1px;overflow:auto">
                <div class="panel panel-danger">
                    {{error}}
                </div>
                <img src="~/Content/Images/document-broken.png">
            </div>
        </div>
    </div>
</div>