<div class="modal-content" ng-controller="perfilConfigController">
    <salus-title>Editar Perfil</salus-title>

    {{mensagem}}

    <div class="control-group">
        <form name="form" class="form-horizontal">
            <div class="control-group">
                <label>Senha Atual</label>
                <input type="password" class="form-control" name="assunto" ng-model="perfil.SenhaAtual" size="150">
                
                <label>Nova Senha</label>
                <input type="password" class="form-control" name="assunto" ng-model="perfil.NovaSenha" size="150">

                <label>Confirmar Nova Senha</label>
                <input type="password" class="form-control" name="assunto" ng-model="perfil.ConfirmarNovaSenha" size="150">

                <label>Selecione uma foto</label>
                <input type="file" class="form-control" ngf-select ng-model="picFile" name="file"
                       accept="*/*" ngf-max-size="100MB" ngf-model-invalid="errorFiles">

                <i ng-show="form.file.$error.maxSize">
                    Arquivo muito grande
                    {{errorFiles[0].size / 1000000|number:1}}MB: max 100M
                </i>

                <span ng-show="form.file.$valid">
                    {{picFile.name}}
                </span>

                <div class="control-group">
                    <button class="btn btn-primary" name="novoTipo" ng-click="salvarEdicaoPerfil(picFile, perfil)">Salvar</button>
                </div>
            </div>

        </form>
    </div>
</div>