<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FluentMigrator" version="1.6.1" targetFramework="net452" />
  <package id="FluentMigrator.Runner" version="1.6.1" targetFramework="net452" />
  <package id="FluentMigrator.Tools" version="1.6.1" targetFramework="net452" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.0" targetFramework="net452" />
  <package id="NHibernate" version="4.0.3.4000" targetFramework="net452" />
  <package id="NHibernate.AspNet.Identity" version="2.2.1.0" targetFramework="net452" />
</packages>