<div class="modal-content" ng-controller="tipoDocumentoConfigController" ng-init="carregarFormulario()">
    <div>Tipos de Documentos</div>

    <div class="control-group">
        <button class="btn btn-primary" name="novoTipo" ng-click="adicionar()">Novo Tipo de Documento</button>
    </div>

    <div class="control-group" style="height:560px; overflow:auto">
        <table ng-show="tiposDeDocumento.length > 0" class="table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Pasta</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tr ng-class="{'item-inativo': tipoDocumento.Ativo == false}" ng-repeat="tipoDocumento in tiposDeDocumento">
                <td>{{tipoDocumento.Nome}}</td>
                <td>{{tipoDocumento.Parent.Nome}}</td>
                <td><a ng-click="editarTipoDocumento(tipoDocumento.Id)">Editar</a></td>
                <td><a ng-click="excluir(tipoDocumento.Id)">Desativar</a></td>
            </tr>
        </table>
    </div>
</div>