<appSettings>

  <add key="Log.File" value="true" />
  <add key="Log.Level" value="Debug" />
  <add key="Log.Console" value="true" />
  <add key="Log.Sql" value="true" />

  <add key="Database.ConnectionString" 
       value="Persist Security Info=False;User ID=sa;Password=salus1@;Initial Catalog=salus_dev;Data Source=(local)\sqlexpress;" />
  
  <add key="Import.ConnectionString" 
    value="Data Source=(local)\sqlexpress;Database=ecm6_bicbanco;User Id=sa;Password=salus1@" />

  <add key="Storage.ConnectionString" value="mongodb://192.168.10.105:27017" />

</appSettings>