@*<div ng-view></div>*@

@section javascript{
    <script src="~/Scripts/controllers/loginController.js"></script>
    <script src="~/Scripts/controllers/homeController.js"></script>
    <script src="~/Scripts/controllers/uploadController.js"></script>
    <script src="~/Scripts/controllers/categorizacaoController.js"></script>
    <script src="~/Scripts/controllers/acessoFuncionalidadeController.js"></script>
    <script src="~/Scripts/controllers/acessoDocumentoController.js"></script>
    <script src="~/Scripts/controllers/areaConfigController.js"></script>
    <script src="~/Scripts/controllers/configuracaoController.js"></script>
    <script src="~/Scripts/controllers/tipoDocumentoConfigController.js"></script>
    <script src="~/Scripts/controllers/perfilConfigController.js"></script>
    <script src="~/Scripts/controllers/usuarioConfigController.js"></script>
    <script src="~/Scripts/controllers/grupoDocumentoConfigController.js"></script>
    <script src="~/Scripts/controllers/chaveConfigController.js"></script>
    <script src="~/Scripts/controllers/pesquisaController.js"></script>
    <script src="~/Scripts/controllers/resultadoPesquisaController.js"></script>
    <script src="~/Scripts/controllers/menuController.js"></script>
    <script src="~/Scripts/controllers/viewController.js"></script>

    <script src="~/Scripts/services/acessoFuncionalidadeApiService.js"></script>
    <script src="~/Scripts/services/acessoDocumentoApiService.js"></script>
    <script src="~/Scripts/services/funcionalidadeApiService.js"></script>
    <script src="~/Scripts/services/indexacaoApiService.js"></script>
    <script src="~/Scripts/services/autorizacaoApiService.js"></script>
    <script src="~/Scripts/services/configuracaoApiService.js"></script>
    <script src="~/Scripts/services/areaApiService.js"></script>
    <script src="~/Scripts/services/pesquisaApiService.js"></script>
    <script src="~/Scripts/services/perfilApiService.js"></script>
    <script src="~/Scripts/services/tipoDocumentoApiService.js"></script>
    <script src="~/Scripts/services/grupoDocumentoApiService.js"></script>
    <script src="~/Scripts/services/chavesApiService.js"></script>
    <script src="~/Scripts/services/usuarioApiService.js"></script>
    <script src="~/Scripts/services/workflowApiService.js"></script>
    <script src="~/Scripts/services/storageApiService.js"></script>
    <script src="~/Scripts/services/atividadeApiService.js"></script>
}

