<?xml version="1.0"?>
<ConfiguracaoDeDeploy xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <ServicosDoWindows>
        <ServicoDoWindows>
              <Executavel>Applications\VerosEcmQueues.exe</Executavel>
              <NomeDoServico>VerosEcmQueues</NomeDoServico>
        </ServicoDoWindows>
    </ServicosDoWindows>
	<Migrations>
		<Migration>
            <Executavel>Applications\VerosEcmUtil.exe</Executavel>
            <Argumentos>database update</Argumentos>
        </Migration>
	</Migrations>
</ConfiguracaoDeDeploy>