<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container" ng-controller="menuControler" ng-init="start()">
        <div class="navbar-header">
            <a class="navbar-brand hidden-xs" href="#">Salus</a>
            <a class="navbar-brand visible-xs" href="#">S</a>

            <form class="navbar-form pull-left" role="search">
                <div class="input-group" ng-controller="pesquisaController">
                    <input type="text" class="form-control" placeholder="Search" ng-model="termo">
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-default" ng-click="pesquisar(termo)"><span class="glyphicon glyphicon-search"></span></button>
                    </div>
                </div>
            </form>
        </div>

        <div class="navbar-btn pull-right">
            <div class="btn-group" uib-dropdown>
                <button id="split-button" ng-click="abrirHome()" type="button" class="btn btn-toolbar">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                </button>
            </div>

            <div class="btn-group" uib-dropdown>
                <button id="split-button" type="button" class="btn btn-toolbar">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-toolbar" uib-dropdown-toggle>
                    <span class="caret"></span>
                    <span class="sr-only">Split button!</span>
                </button>
                <ul uib-dropdown-menu role="menu" aria-labelledby="split-button">
                    <li role="menuitem"><a ng-click="abrirUpload()" ng-show="usuarioTemPermissao(2)">Upload</a></li>
                    <li role="menuitem"><a href="#" ng-show="usuarioTemPermissao(3)">Vários Arquivos</a></li>
                    <li role="menuitem"><a href="#" ng-show="usuarioTemPermissao(4)">Pré-Indexar</a></li>
                </ul>
            </div>

            <div class="btn-group" uib-dropdown>
                <button id="split-button" type="button" class="btn btn-toolbar">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-toolbar" uib-dropdown-toggle>
                    <span class="caret"></span>
                    <span class="sr-only">Split button!</span>
                </button>
                <ul uib-dropdown-menu role="menu" aria-labelledby="split-button">
                    <li role="menuitem"><a ng-click="abrirEdicaoPerfil()">Meu Perfil</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a ng-click="abrirUsuarios()" ng-show="usuarioTemPermissao(5)">Usuários</a></li>
                    <li role="menuitem"><a ng-click="abrirPerfis()" ng-show="usuarioTemPermissao(7)">Perfis</a></li>
                    <li role="menuitem"><a ng-click="abrirAreas()" ng-show="usuarioTemPermissao(6)">Áreas</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a ng-click="abrirGruposDeDocumento()" ng-show="usuarioTemPermissao(8)">Grupos de Documento</a></li>
                    <li role="menuitem"><a ng-click="abrirTiposDeDocumento()" ng-show="usuarioTemPermissao(8)">Tipos de documentos</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a ng-click="abrirSegurancaDocumentos()" ng-show="usuarioTemPermissao(10)">Acesso aos documentos</a></li>
                    <li role="menuitem"><a ng-click="abrirSegurancaFuncionalidades()" ng-show="usuarioTemPermissao(9)">Segurança às Funcionalidades</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a ng-click="abrirConfiguracoesDaAplicacao()" ng-show="usuarioTemPermissao(11)">Configuracoes da Aplicacao</a></li>
                    <li class="divider"></li>
                    <li role="menuitem"><a ng-click="sair()">Sair</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <a class="header-nav-link name tooltipped tooltipped-sw" ng-click="abrirEdicaoPerfil()" aria-label="View profile and more" data-ga-click="Header, show menu, icon:avatar">
                    <img class="avatar" height="30" ng-src="{{usuario.Avatar}}" ng-show="usuario.Avatar != ''" width="30">
                    <span class="glyphicon glyphicon-user" height="50" width="50" aria-hidden="true" ng-show="usuario.Avatar == ''"></span>
                    Bem vindo, {{usuario.Nome}}!
                </a>
            </div>
        </div>
    </div>
</div>

