<div ng-controller="categorizacaoController" ng-init="carregarFormulario()">

    <div class="panel-heading">
        <form name="categorizacaoForm">
            <div>Categorizando documento {{documentoId}}</div>

            <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                
                <select class="form-control" ng-model="tipoDocumentoId" ng-options="tipodocumento.Id as tipodocumento.Nome for tipodocumento in tiposDeDocumento" ng-change="selecionarTipo()">
                    <option value="">Selecione o tipo do documento</option>
                </select>
            </div>
            
            <salus-indexacao chaves="chaves">
            </salus-indexacao>

        </form>
    </div>
</div>
