<div class="modal-content" ng-controller="grupoDocumentoConfigController" ng-init="carregarFormulario()">
    <div>Configurações > Grupo de Documentos</div>

    <div class="control-group">
        <button class="btn btn-primary" name="novoTipo" ng-click="adicionar()">Novo Grupo</button>
    </div>

    <div class="control-group" style="height:560px; overflow:auto">
        <table ng-show="gruposDocumentos.length > 0" class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tr ng-class="{'item-inativo': grupoDocumento.Ativo == false}"  ng-repeat="grupoDocumento in gruposDocumentos">
                <td>{{grupoDocumento.Nome}}</td>
                <td><a ng-click="editarGrupoDocumento(grupoDocumento.Id)">Editar</a></td>
                <td>
                    <a ng-if="grupoDocumento.Ativo" ng-click="excluir(grupoDocumento)">Desativar</a>
                    <a ng-if="grupoDocumento.Ativo==false" ng-click="ativar(grupoDocumento)">Ativar</a>    
                </td>
            </tr>
        </table>
    </div>
</div>