@using Salus.Model.Entidades
@model Documento

<div ng-controller="viewController" ng-init="abrir(@this.Model.Id)">

    <div class="panel-heading">
        <div>Documento {{documentoId}}</div>
    </div>

    <div>
        <canvas id="the-canvas" style="border:1px solid black;" />

        {{urlDocumento}}
    </div>
</div>
