@using Salus.Model.Entidades
@model Documento

<div ng-controller="viewController" ng-init="abrir(@this.Model.Id)">

    <div class="panel-heading">
        <div>Documento {{documentoId}}</div>
    </div>

    <div id="MainMenu">
        <div class="list-group panel">
            <a href="#demo3" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Indexacao</a>
            <div class="collapse" id="demo3">
                <div>apresentar indexacao</div>
            </div>
            <a href="#demo4" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Workflow</a>
            <div class="collapse" id="demo4">
                <div>apresentar workflow</div>
            </div>

            <a href="#demo5" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Alterar Assunto</a>
            <div class="collapse" id="demo5">
                <div>apresentar alterar assunto</div>
            </div>

            <a href="#demo6" class="list-group-item list-group-item-success" data-toggle="collapse" data-parent="#MainMenu">Baixar Documento</a>
            <div class="collapse" id="demo5">
                <div>Baixar Documento</div>
            </div>
        </div>
    </div>

    <div class="panel-heading">
        <iframe ng-src="{{urlDocumento}}" style="width:100%;height:700px;border:dotted"></iframe>
    </div>
</div>