@using Salus.Model.Entidades
@model Documento

<div ng-controller="viewController" ng-init="abrir(@this.Model.Id)">

    <div class="panel-heading">
        <div>Documento {{documentoId}}</div>
    </div>

    <snap-drawers>
        <div snap-drawer>
            Indexacao
        </div>
        <div snap-drawer="right">
            Workflow
        </div>
        <div snap-drawer="right">
            Baixar Documento
        </div>
    </snap-drawers>

    <div class="panel-heading">
        <iframe ng-src="{{urlDocumento}}" style="width:100%;height:700px;border:solid"></iframe>
    </div>
</div>