<div ng-controller="loginController">
    <div class="jumbotron">
        {{error}}
        <div class="panel-heading">
            <h2>Acesso ao sistema</h2>
            <form name="loginForm">

                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="text" class="form-control" name="userName" ng-model="usuario.Login" ng-required="true" placeholder="nome do usuario" />
                </div>

                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" class="form-control" name="password" ng-model="usuario.Senha" ng-required="true" placeholder="senha" />
                </div>
                
                <button class="btn btn-lg" ng-click="login(usuario)" ng-disabled="loginForm.$invalid">Entrar</button>
            </form>
        </div>
    </div>
</div>

