<div ng-controller="loginController" ng-init="inicio()">
    <div>
        <h1>Salus Login</h1>
    </div>
    {{error}}
    <!-- Form Module-->
    <div>
        <div>
            <i></i>
            <div>Click Me</div>
        </div>
        <div>
            <h2>Acesse sua conta</h2>
            <form>
                <input type="text" placeholder="Nome do usuario" ng-model="usuario.Login" ng-required="true" />
                <input type="password" placeholder="Senha" ng-model="usuario.Senha" ng-required="true" />
                <button ng-click="login(usuario)" ng-disabled="form.$invalid">Entrar</button>
            </form>
        </div>
    </div>
</div>