<div class="modal-content" ng-controller="configuracaoController" ng-init="carregarParaEdicao()">
    <salus-title>{{configuracao.Chave}}</salus-title>
    
    <form name="configuracaoEditForm">
        <input type="hidden" ng-model="configuracao.Id" />

        <div class="control-group">
            <label>Chave</label>
            <input type="text" class="form-control" ng-model="configuracao.Valor" />

            <label>Valor</label>
            <input type="text" class="form-control" ng-model="configuracao.Chave" />

        </div>

        <div>
            <button class="btn btn-primary" ng-click="salvar(configuracao)">Salvar</button>
            <button class="btn btn-primary" ng-click="inicio()">Todas as configurações</button>
        </div>
    </form>
</div>
