@using Salus.Model.UI
@model PesquisaViewModel

<div class="modal-content" ng-controller="pesquisaController" ng-init="procurar(@this.Model.Texto)">
    
    <div ng-repeat="documento in resultadoPesquisa.Documentos" class="list-group">
        <div class="list-group-item">
            <h4 class="list-group-item-heading"><a ng-click="abrirDocumento(documento.Id)">{{documento.Assunto}}</a></h4>
            <div ng-repeat="index in documento.Indexacao">
                <p class="list-group-item-text">{{index.Chave.Nome}} - {{index.Valor}}</p>
            </div>
        </div>
    </div>
</div>
