<appSettings>
  <add key="Log.File" value="true" />
  <add key="Log.Level" value="Debug" />
  <add key="Log.Console" value="true" />
  <add key="Log.Sql" value="true" />

  <!--<add key="SQLSERVER_URI" value ="sqlserver://kogzrwapirjhioop:iR24vhGFsrbhQAPCYEaKL2PrAKJTCYEjwAM2aoNraPKwZ242a3AWG68qcHBSFWdB@82a49f3e-2364-4a0a-b98c-a60b01221fcc.sqlserver.sequelizer.com/db82a49f3e23644a0ab98ca60b01221fcc"/>-->
    
  <!--<add key="Database.ConnectionString" value="Persist Security Info=False;User ID=sa;Password=salus1@;Initial Catalog=salus_demo;Data Source=(local)\sqlexpress;" />-->
  <add key="Database.ConnectionString" value="Server=82a49f3e-2364-4a0a-b98c-a60b01221fcc.sqlserver.sequelizer.com;Database=db82a49f3e23644a0ab98ca60b01221fcc;User ID=kogzrwapirjhioop;Password=iR24vhGFsrbhQAPCYEaKL2PrAKJTCYEjwAM2aoNraPKwZ242a3AWG68qcHBSFWdB;" />
  <add key="Storage.ConnectionString" value="mongodb://tiago:guardian@ds021895.mlab.com:21895/salusdb" />

</appSettings>