<div class="modal-content" ng-controller="pesquisaController" ng-init="procurar()">
    <div ng-show="resultadoPesquisa.Documentos.length == 0">
        Não há itens para o texto pesquisado
    </div>

    <div ng-show="resultadoPesquisa.Documentos.length > 0" style="height:560px; overflow:auto">
        <div ng-repeat="documento in resultadoPesquisa.Documentos" class="list-group">
            <div class="list-group-item">
                <div class="salusicon-indice" ng-if="documento.EhIndice==true"></div>
                <div class="salusicon-documento" ng-if="documento.EhIndice==false" style="width:30px;height:30px"></div>
                <div style="padding-left:40px;top:1px">
                    <h4 class="list-group-item-heading"><a ng-click="abrirDocumento(documento.Id)">{{documento.Id}} - {{documento.Assunto}}</a></h4>
                    <span ng-repeat="index in documento.Indexacao"><label>{{index.Chave.Nome}}:</label> {{index.Valor}} </span>
                </div>
            </div>
        </div>
    </div>
</div>
