<div class="modal-content" ng-controller="pesquisaController" ng-init="procurar()">
    <div ng-show="resultadoPesquisa.Documentos.length == 0">
        Não há itens para o texto pesquisado
    </div>

    <div ng-show="resultadoPesquisa.Documentos.length > 0" style="height:560px; overflow:auto">
        <div ng-repeat="documento in resultadoPesquisa.Documentos" class="list-group">
            <div style="margin: 0; padding: 0;">
                <img src="~/Content/Images/ic_action_collection.png" ng-show="documento.EhIndice" style="float:left;margin: 0 15px 0 0;" />
                <img src="~/Content/Images/ic_action_view_as_list.png" ng-show="documento.EhIndice == false" style="float:left;margin: 0 15px 0 0;" />
                
                <h4 style="font: bold 20px/1.5 Helvetica, Verdana, sans-serif">
                    <a ng-if="documento.EhIndice == false" ng-click="abrirDocumento(documento.Id)">{{documento.Id}} - {{documento.Assunto}}</a>
                    <a ng-if="documento.EhIndice" ng-click="pesquisarPreindexacao(documento.Id)">{{documento.Id}} - {{documento.Assunto}}</a>
                </h4>
                
                <span
                      style="font: 200 12px/1.5 Georgia, Times New Roman, serif;" 
                      ng-repeat="index in documento.Indexacao">
                    <b>{{index.Chave.Nome}}:</b> {{index.Valor}}
                </span>
               
            </div>
        </div>
    </div>
</div>
