<div class="modal-content" ng-controller="tipoDocumentoConfigController" ng-init="carregarFormulario()">
    <div>Tipos de Documentos</div>

    <div class="control-group">
        <button class="btn btn-primary" name="novoTipo" ng-click="adicionar()">Novo</button>
    </div>

    <div class="control-group">
        <table ng-show="tiposDeDocumento.length > 0" class="table">
            <thead>
                <tr>
                    <th>Ativo</th>
                    <th>Nome</th>
                    <th>Pasta</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tr ng-repeat="tipoDocumento in tiposDeDocumento">
                <td><input type="checkbox" ng-model="tipoDocumento.ativo" /></td>
                <td>{{tipoDocumento.nome}}</td>
                <td>{{tipoDocumento.parent.nome}}</td>
                <td><a ng-click="editarTipoDocumento(tipoDocumento.id)">Editar</a></td>
                <td><a ng-click="excluir(tipoDocumento.id)">Apagar</a></td>
            </tr>
        </table>
    </div>
</div>